html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

strong, body {
    font-family: "Helvetica Neue",sans-serif;
    line-height: 1.5em;
    font-weight: lighter;
}

#site_wrap{                     /*# references the id, not class*/
    background-color:white;
    height:100vh;                /* 100 viewport height*/
    display: grid;               /* sets grid layout for wireframe layout over entire page*/
    /*gap:5px;                     /*to show spacing between columns; header and footer columns will be variable width, others remain fixed*/

    grid-template-columns:
        1fr      /*fr means fraction, so divide entire width into 6 equal fractions */ 
        /*200px    /* changed from 1fr - check wireframe and divide fixed columns to determine individual column width, example is 272px */
        /*200px    /* 1fr */
        /*200px    /* 1fr */
        /*200px    /* 1fr */
        repeat(4,minmax(0,200px)) /*change repeat of 200px lines, to repeat this line 4 times, with a min of 0px and max of 200px */
        1fr; 
    grid-template-rows:
        40px
        500px
        min-content
        250px
        1fr;                          /*rows wil not show until needed*/
        
    grid-template-areas:
        "header header header header header header"   /*added "." so header does not span whole width*/
        "featured_header featured_header featured_header featured_header featured_header featured_header"
        ". featured_profile featured_profile featured_main featured_main ."
        ". content content content content ."
        "footer footer footer footer footer footer" /*literally staking claims on page property by class based on wireframe. "." means an empty column. every column accounted for */
}

.header {
    width: 100%;
    height: 80vh;
        grid-area:header; /*add grid template area, given same name as class name generally*/
        background-image:url('images/iceland\ beach.jpg');
        background-size: cover;
        background-position: center;
}


nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    

}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 2;
    padding-right: 20;
    margin: 0;
    transition: 1s;
    display:flex;  
    justify-content: space-between;

}


.logo {
    width: 55px;
    display:flex;
    align-items: center;
    justify-content:center;
    padding-right: 7px;

}

nav ul, .logo{
    justify-content:center;


}

nav.black ul {
    background: #000;

}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding-inline: 30px;

    
}

.menu-icon {                    /*hamburger menu*/
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}



.featured_header {
    grid-area:featured_header; /*add grid template area, given same name as class name generally*/
    overflow: hidden;
    background: rgb(0, 0, 0, 0.5);
    color: #fff;
    font-size: 40px;
    transition: 1s;
    background-position: center;
    place-self: center;
    position: relative;
    padding: 70px 120px;
    margin-top: -30px;


}
.featured_header.black {
    background: white;
    color: black;
    padding: 28px;
    opacity: 0.7;
    font-size: 20px;


    

}
.featured_profile {
    grid-area:featured_profile; /*add grid template area, given same name as class name generally*/
    grid-column-start: 2;
    

}
.featured_profile .mainprofpic {
    width:260px;
    border-radius: 50%;

}
.featured_main{
    grid-area:featured_main; /*add grid template area, given same name as class name generally*/
    background-color:white;
    padding: 40px;
    background-position: center;
    place-self: center;
    position: relative;
    /*border-bottom-color: black ;
    border-bottom-style: groove;*/


}
.featured_main h2{
    grid-area:featured_main; /*add grid template area, given same name as class name generally*/
    background-color:white;
    color: #3d3b3b;
    display: flex;
    place-self: center;
  
}
.featured_main p{
    grid-area:featured_main; /*add grid template area, given same name as class name generally*/
    background-color:white;
    font-size: 22px;
    color: #3d3b3b;
    display: flex;
  align-items: center;
  justify-content: center;
  place-self: center;
    
}

.content {
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.content{
    grid-area:content; /*add grid template area, given same name as class name generally*/
    background-color:aquamarine;
}
.footer{
    grid-area:footer; /*add grid template area, given same name as class name generally*/
    background-color:darkslategrey;
}


@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}

@media screen and (max-width:480px){
    /*.header{                                /*just testing if media query is wired properly, new color should show in header below px, switch based on width */
    /*    background-color:yellowgreen;
    /*}*/

    /*delete ^ when conformed working and replace with entire #site_wrap as below, keping only needed sections */

    #site_wrap{                     /*# references the id, not class*/
      
        grid-template-areas:
            "header header header header header header"   
            "featured_header featured_header featured_header featured_header featured_header featured_header"
            "featured_profile featured_profile featured_profile featured_profile featured_profile featured_profile"
            "featured_main featured_main featured_main featured_main featured_main featured_main"
            "content content content content content content"
            "footer footer footer footer footer footer" /*literally staking claims on page property by class based on wireframe. "." means an empty column. every column accounted for */
    }
    /* .featured_profile{   /*if you want to not display profile on mobile */
    /*    display:none;         
    /*} */
}
